<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Railgun</title>
	<meta name="description" content="Railgun website platform">
	<meta name="author" content="Tom Beynon // Lateral Studios">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<%= stylesheet_link_tag "railgun/application" %>
	<% Railgun.config.register_stylesheets.each do |stylesheet| %>
	<%= stylesheet_link_tag stylesheet %>
	<% end %>

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="/assets/railgun/optimus/favicon.ico">
	<!-- end: Favicon -->
		
</head>

<body class="<%= railgun_controller+" "+params[:action] %>">
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<!--<a class="brand" href="<%= root_path %>"> <img alt="Optimus Dashboard" src="/assets/railgun/optimus/logo20.png" /> <span>Optimus Dashboard</span></a>-->
								
				<!-- start: Header Menu -->
				<% if false %>
				<div class="btn-group pull-right" >
					<a class="btn" href="#">
						<i class="icon-wrench"></i><span class="hidden-phone hidden-tablet"> settings</span>
					</a>
					<!-- start: User Dropdown -->
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i><span class="hidden-phone hidden-tablet"> admin</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="login.html">Logout</a></li>
					</ul>
					<!-- end: User Dropdown -->
				</div>
				<% end %>
				<% 
				menu_groups.each do |menu_group| %>
					<div class="btn-group pull-right" >
					<% menu_group[:buttons].each do |button| %>
						<%= link_to button[:path], button[:options].merge({:class => button[:class]}) do %>
							<i class="icon-<%= button[:icon] %>"></i><span class="hidden-phone hidden-tablet"> <%= button[:title] %></span>
						<% end %>
					<% end %>
					</div>
				<% end %>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<div id="under-header"></div>
	<!-- start: Header -->
	
		<div class="container-fluid">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
			<div class="span2 main-menu-span">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">Navigation</li>
						<li<%= raw " class='active'" if railgun_controller == "dashboard" %>><a href="<%= root_path %>"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a></li>
						<% Railgun.resources.each_pair do |key, resource| %>
						<li<%= raw " class='active'" if railgun_controller == resource.path %>><a href="<%= url_for(resource.resource_class) %>">
						<i class="icon-<%= resource.options[:icon] %>"></i>
						<span class="hidden-tablet"> <%= resource.name.pluralize %></span></a></li>
						<% end %>
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">javascript</a> enabled to use Railgun.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			
			<div>
				<%= render "railgun/shared/breadcrumb_list" %>
			</div>
			
			<% if flash[:alert].present? %>
			<div class="alert alert-error">
				<button data-dismiss="alert" class="close" type="button">×</button>
				<strong>Something went wrong.</strong> Check the form for more information.
			</div>
			<% end %>
			
			<% if flash[:notice].present? %>
			<div class="alert alert-success">
				<button data-dismiss="alert" class="close" type="button">×</button>
				<%= flash[:notice] %>
			</div>
			<% end %>
       
       <%=
       if defined?(railgun_resource)
       	render :partial => "railgun/shared/resource"
       else
       	render :partial => "railgun/shared/page"
       end
       
       %>
       
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
		
		<div class="clearfix"></div>
		<hr>
		
		<footer>
			<p class="pull-left">&copy; <a href="" target="_blank">Lateral Studios</a> <%= Date.today.strftime("%Y") %></p>
			<p class="pull-right"><a href="#">Powered by Railgun</a></p>
		</footer>
				
	</div><!--/.fluid-container-->

	<%= javascript_include_tag "railgun/application" %>
	<% Railgun.config.register_javascripts.each do |javascript| %>
	<%= javascript_include_tag javascript %>
	<% end %>
	
</body>
</html>