<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header" data-original-title>
      <h2><i class="icon-<%= railgun_resource.options[:icon] %>"></i><span class="break"></span><%= title %></h2>
      <%= render "action_buttons" %>
    </div>
    <div class="box-content">

      <h1><%= railgun_resource.name %> <%= resource.try(railgun_resource.name_column)%></h1>
      <hr />
      <% columns.each do |column| %>
      <p><strong><%= column.name.humanize %>:</strong> <%= format_attribute(resource, column) %></p>
      <% end %>

    </div>
  </div>
</div>
