<%= render :partial => "filters" unless collection.nil? %>
<div class="row-fluid sortable">		
	<div class="box span12">
		<div class="box-header" data-original-title>
			<h2><i class="icon-<%= railgun_resource.options[:icon] %>"></i><span class="break"></span><%= title %></h2>
			<div class="btn-toolbar">
				<% Railgun.interface.action_button_groups.each do |key, group| %>
				<div class="btn-group">
					<% group[:buttons].each do |button| %>
					<%= link_to(button[:title], button[:path], button[:options].merge({:class => "btn btn-small btn-"+button[:type]+" "+button[:class]})) %>
			    <% end %>
			  </div>
			  <% end %>
			</div>
		</div>
		<div class="box-content">
		
			<%= yield %>
			
		</div>
	</div>
</div>