<% Railgun.viewable_resources.to_a.in_groups_of(5, false).each do |group| %>
<div class="row-fluid">
	<% group.each do |key, resource| %>				
	<div class="box-small span2">
		<a href="<%= url_for resource.resource_class %>" class="box-small-link" data-rel="tooltip" data-original-title="There are <%= resource.resource_class.all.count %> <%= resource.name.pluralize %>">
			<div id="members-count"><%= resource.resource_class.all.count %></div>
		</a>
		<div class="box-small-title"><%= resource.name.pluralize %></div>
	</div>
	<% end %>
</div>
<% end %>

<hr />

<div class="row-fluid sortable">
	<div class="box span8">
		<div class="box-header">
			<h2><i class="icon-font"></i><span class="break"></span><%= title %></h2>
		</div>
		<div class="box-content">

			<div class="page-header">
			  <h1>Welcome to <small>Railgun</small></h1>
			</div>   
			
			<p>This section will soon be more informative..</p>
		</div>
	</div>
	
	<div class="box span4">
		<div class="box-header">
			<h2><i class="icon-info-sign"></i><span class="break"></span>Recent updates</h2>
		</div>
		<div class="box-content">
			<h2>Version 0.5 released</h2>
		</div>
	</div>
</div>  